In [1]:
import pandas as pd
import numpy as np

df=pd.read_excel("HDR 2007-2008 Table 01.xlsx")
df.head(12)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Monitoring human development: enlarging people's choices . . .,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,1 Human development index,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Table 1. Human development index,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,Human development index (HDI) value\n2005,NaN,Life expectancy at birth\n(years)\n2005,NaN,Adult literacy rate\n(% aged 15 and above)\n19...,NaN,"Combined gross enrolment ratio for primary, se...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,HDI ranka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1,Iceland,NaN,0.968,NaN,81.5,NaN,..,d,95.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2,Norway,NaN,0.968,NaN,79.8,NaN,..,d,99.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df=pd.read_excel("HDR 2007-2008 Table 01.xlsx", header=6)
df=df.dropna(how="all",axis=1)
df=df.dropna(how="all", axis=0).reset_index(drop=True)
df.head(6)

,Table 1. Human development index,Unnamed: 1,Unnamed: 3,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 15,Unnamed: 17,Unnamed: 19
0,NaN,NaN,Human development index (HDI) value\n2005,Life expectancy at birth\n(years)\n2005,NaN,Adult literacy rate\n(% aged 15 and above)\n19...,NaN,"Combined gross enrolment ratio for primary, se...",NaN,GDP per capita\n(PPP US$)\n2005,NaN,Life expectancy index,Education index,GDP index,GDP per capita (PPP US$) rank minus HDI rankc
1,HDI ranka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Iceland,0.968,81.5,NaN,..,d,95.4,e,"36,510",NaN,0.941,0.978,0.985,4
4,2,Norway,0.968,79.8,NaN,..,d,99.2,NaN,"41,420",f,0.913,0.991,1.000,1
5,3,Australia,0.962,80.9,NaN,..,d,113.0,g,"31,794",NaN,0.931,0.993,0.962,13

In [3]:
columns = []
for c in df.columns:
       columns.append([str(v) for v in df[c][:2] if pd.notnull(v)])
columns

[['HDI ranka'],
 [],
 ['Human development index (HDI) value\n2005'],
 ['Life expectancy at birth\n(years)\n2005'],
 [],
 ['Adult literacy rate\n(% aged 15 and above)\n1995-2005b'],
 [],
 ['Combined gross enrolment ratio for primary, secondary and tertiary education\n(%)\n2005'],
 [],
 ['GDP per capita\n(PPP US$)\n2005'],
 [],
 ['Life expectancy index'],
 ['Education index'],
 ['GDP index'],
 ['GDP per capita (PPP US$) rank minus HDI rankc']]

In [4]:
columns=["HDI rank","country","Human development index (HDI) value\n2005",
         "Life expectancy at birth\n(years)\n2005",
         "Reference 1",
         "Adult literacy rate\n(% aged 15 and above)\n1995-2005",
         "Reference 2",
         "Combined gross enrolment ratio for primary, secondary and tertiary education\n(%)\n2005",
         "Reference 3",
         "GDP per capita\n(PPP US$)\n2005",
         "Reference 4",
         "Life expectancy index",
         "Education index",
         "GDP index",
         "GDP per capita (PPP US$) rank minus HDI rank"
]
df.columns=columns
df.drop([0,1], inplace=True)
df = df.reset_index(drop=True)
df.head()

,HDI rank,country,Human development index (HDI) value 2005,Life expectancy at birth (years) 2005,Reference 1,Adult literacy rate (% aged 15 and above) 1995-2005,Reference 2,"Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005",Reference 3,GDP per capita (PPP US$) 2005,Reference 4,Life expectancy index,Education index,GDP index,GDP per capita (PPP US$) rank minus HDI rank
0,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Iceland,0.968,81.5,NaN,..,d,95.4,e,"36,510",NaN,0.941,0.978,0.985,4
2,2,Norway,0.968,79.8,NaN,..,d,99.2,NaN,"41,420",f,0.913,0.991,1.000,1
3,3,Australia,0.962,80.9,NaN,..,d,113.0,g,"31,794",NaN,0.931,0.993,0.962,13
4,4,Canada,0.961,80.3,NaN,..,d,99.2,"e,h","33,375",NaN,0.921,0.991,0.970,6

In [5]:
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]
df= df.drop(df[df["HDI rank"].isin(hdi_categories)].index, axis=0).reset_index(drop=True)

In [6]:
df.tail(30)

,HDI rank,country,Human development index (HDI) value 2005,Life expectancy at birth (years) 2005,Reference 1,Adult literacy rate (% aged 15 and above) 1995-2005,Reference 2,"Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005",Reference 3,GDP per capita (PPP US$) 2005,Reference 4,Life expectancy index,Education index,GDP index,GDP per capita (PPP US$) rank minus HDI rank
167,168,Congo (Democratic Republic of the),0.411,45.8,NaN,67.2,NaN,33.7,"e,h",714,n,0.346,0.560,0.328,7
168,169,Ethiopia,0.406,51.8,NaN,35.9,NaN,42.1,e,"1,055",n,0.446,0.380,0.393,-5
169,170,Chad,0.388,50.4,NaN,25.7,NaN,37.5,e,"1,427",n,0.423,0.296,0.444,-17
170,171,Central African Republic,0.384,43.7,NaN,48.6,NaN,29.8,"e,h","1,224",n,0.311,0.423,0.418,-13
171,172,Mozambique,0.384,42.8,NaN,38.7,NaN,52.9,NaN,"1,242",n,0.296,0.435,0.421,-16
172,173,Mali,0.380,53.1,NaN,24.0,NaN,36.7,NaN,"1,033",NaN,0.469,0.282,0.390,-8
173,174,Niger,0.374,55.8,NaN,28.7,NaN,22.7,NaN,781,n,0.513,0.267,0.343,-1
174,175,Guinea-Bissau,0.374,45.8,NaN,..,j,36.7,"e,h",827,n,0.347,0.421,0.353,-4
175,176,Burkina Faso,0.370,51.4,NaN,23.6,NaN,29.3,NaN,"1,213",n,0.440,0.255,0.417,-17
176,177,Sierra Leone,0.336,41.8,NaN,34.8,NaN,44.6,h,806,NaN,0.280,0.381,0.348,-5
177,Developing countries,NaN,0.691,66.1,NaN,76.6,NaN,64.1,NaN,"5,282",NaN,0.685,0.725,0.662,..
178,Least developed countries,NaN,0.488,54.5,NaN,53.9,NaN,47.8,NaN,"1,499",NaN,0.492,0.519,0.452,..
179,Arab States,NaN,0.699,67.5,NaN,70.3,NaN,65.5,NaN,"6,716",NaN,0.708,0.687,0.702,..
180,East Asia and the Pacific,NaN,0.771,71.7,NaN,90.7,NaN,69.4,NaN,"6,604",NaN,0.779,0.836,0.699,..
181,Latin America and the Caribbean,NaN,0.803,72.8,NaN,90.3,NaN,81.2,NaN,"8,417",NaN,0.797,0.873,0.740,..
182,South Asia,NaN,0.611,63.8,NaN,59.5,NaN,60.3,NaN,"3,416",NaN,0.646,0.598,0.589,..
183,Sub-Saharan Africa,NaN,0.493,49.6,NaN,60.3,NaN,50.4,NaN,"1,998",NaN,0.410,0.570,0.500,..
184,Central and Eastern Europe and the CIS,NaN,0.808,68.6,NaN,99.0,NaN,83.5,NaN,"9,527",NaN,0.726,0.938,0.761,..
185,OECD,NaN,0.916,78.3,NaN,..,NaN,88.6,NaN,"29,197",NaN,0.888,0.912,0.947,..
186,High-income OECD,NaN,0.947,79.4,NaN,..,NaN,93.5,NaN,"33,831",NaN,0.906,0.961,0.972,..
187,High human development,NaN,0.897,76.2,NaN,..,NaN,88.4,NaN,"23,986",NaN,0.854,0.922,0.915,..
188,Medium human development,NaN,0.698,67.5,NaN,78.0,NaN,65.3,NaN,"4,876",NaN,0.709,0.738,0.649,..
189,Low human development,NaN,0.436,48.5,NaN,54.4,NaN,45.5,NaN,"1,112",NaN,0.391,0.515,0.402,..
190,High income,NaN,0.936,79.2,NaN,..,NaN,92.3,NaN,"33,082",NaN,0.903,0.937,0.968,..
191,Middle income,NaN,0.776,70.9,NaN,89.9,NaN,73.3,NaN,"7,416",NaN,0.764,0.843,0.719,..
192,Low income,NaN,0.570,60.0,NaN,60.2,NaN,56.3,NaN,"2,531",NaN,0.583,0.589,0.539,..
193,World,NaN,0.743,68.1,NaN,78.6,NaN,67.8,NaN,"9,543",NaN,0.718,0.750,0.761,..
194,NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,a. The HDI rank is determined using HDI values...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,SOURCES\nColumn 1: calculated on the basis of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df2=df.drop(np.arange(177,len(df)), axis=0).reset_index(drop=True)

In [8]:
df2.loc[:, "HDI category"] = np.where(df2["HDI rank"] > 155,
                                     "LOW HUMAN DEVELOPMENT",
                                     np.where(df2["HDI rank"] > 70,
                                              "MEDIUM HUMAN DEVELOPMENT",
                                              "HIGH HUMAN DEVELOPMENT"
                                             )
                                    )
df2.sort_values(by="HDI rank", inplace=True)
df2.head()

,HDI rank,country,Human development index (HDI) value 2005,Life expectancy at birth (years) 2005,Reference 1,Adult literacy rate (% aged 15 and above) 1995-2005,Reference 2,"Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005",Reference 3,GDP per capita (PPP US$) 2005,Reference 4,Life expectancy index,Education index,GDP index,GDP per capita (PPP US$) rank minus HDI rank,HDI category
0,1,Iceland,0.968,81.5,NaN,..,d,95.4,e,"36,510",NaN,0.941,0.978,0.985,4,HIGH HUMAN DEVELOPMENT
1,2,Norway,0.968,79.8,NaN,..,d,99.2,NaN,"41,420",f,0.913,0.991,1.000,1,HIGH HUMAN DEVELOPMENT
2,3,Australia,0.962,80.9,NaN,..,d,113.0,g,"31,794",NaN,0.931,0.993,0.962,13,HIGH HUMAN DEVELOPMENT
3,4,Canada,0.961,80.3,NaN,..,d,99.2,"e,h","33,375",NaN,0.921,0.991,0.970,6,HIGH HUMAN DEVELOPMENT
4,5,Ireland,0.959,78.4,NaN,..,d,99.9,NaN,"38,505",NaN,0.890,0.993,0.994,-1,HIGH HUMAN DEVELOPMENT

# Metadata-Aggregate data

In [9]:
metadata1=df.iloc[177:194,:]
metadata1

,HDI rank,country,Human development index (HDI) value 2005,Life expectancy at birth (years) 2005,Reference 1,Adult literacy rate (% aged 15 and above) 1995-2005,Reference 2,"Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005",Reference 3,GDP per capita (PPP US$) 2005,Reference 4,Life expectancy index,Education index,GDP index,GDP per capita (PPP US$) rank minus HDI rank
177,Developing countries,NaN,0.691,66.1,NaN,76.6,NaN,64.1,NaN,"5,282",NaN,0.685,0.725,0.662,..
178,Least developed countries,NaN,0.488,54.5,NaN,53.9,NaN,47.8,NaN,"1,499",NaN,0.492,0.519,0.452,..
179,Arab States,NaN,0.699,67.5,NaN,70.3,NaN,65.5,NaN,"6,716",NaN,0.708,0.687,0.702,..
180,East Asia and the Pacific,NaN,0.771,71.7,NaN,90.7,NaN,69.4,NaN,"6,604",NaN,0.779,0.836,0.699,..
181,Latin America and the Caribbean,NaN,0.803,72.8,NaN,90.3,NaN,81.2,NaN,"8,417",NaN,0.797,0.873,0.740,..
182,South Asia,NaN,0.611,63.8,NaN,59.5,NaN,60.3,NaN,"3,416",NaN,0.646,0.598,0.589,..
183,Sub-Saharan Africa,NaN,0.493,49.6,NaN,60.3,NaN,50.4,NaN,"1,998",NaN,0.410,0.570,0.500,..
184,Central and Eastern Europe and the CIS,NaN,0.808,68.6,NaN,99.0,NaN,83.5,NaN,"9,527",NaN,0.726,0.938,0.761,..
185,OECD,NaN,0.916,78.3,NaN,..,NaN,88.6,NaN,"29,197",NaN,0.888,0.912,0.947,..
186,High-income OECD,NaN,0.947,79.4,NaN,..,NaN,93.5,NaN,"33,831",NaN,0.906,0.961,0.972,..
187,High human development,NaN,0.897,76.2,NaN,..,NaN,88.4,NaN,"23,986",NaN,0.854,0.922,0.915,..
188,Medium human development,NaN,0.698,67.5,NaN,78.0,NaN,65.3,NaN,"4,876",NaN,0.709,0.738,0.649,..
189,Low human development,NaN,0.436,48.5,NaN,54.4,NaN,45.5,NaN,"1,112",NaN,0.391,0.515,0.402,..
190,High income,NaN,0.936,79.2,NaN,..,NaN,92.3,NaN,"33,082",NaN,0.903,0.937,0.968,..
191,Middle income,NaN,0.776,70.9,NaN,89.9,NaN,73.3,NaN,"7,416",NaN,0.764,0.843,0.719,..
192,Low income,NaN,0.570,60.0,NaN,60.2,NaN,56.3,NaN,"2,531",NaN,0.583,0.589,0.539,..
193,World,NaN,0.743,68.1,NaN,78.6,NaN,67.8,NaN,"9,543",NaN,0.718,0.750,0.761,..

In [10]:
metadata1=metadata1.loc[:,~metadata1.columns.str.startswith('Reference')]
metadata1

,HDI rank,country,Human development index (HDI) value 2005,Life expectancy at birth (years) 2005,Adult literacy rate (% aged 15 and above) 1995-2005,"Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005",GDP per capita (PPP US$) 2005,Life expectancy index,Education index,GDP index,GDP per capita (PPP US$) rank minus HDI rank
177,Developing countries,NaN,0.691,66.1,76.6,64.1,"5,282",0.685,0.725,0.662,..
178,Least developed countries,NaN,0.488,54.5,53.9,47.8,"1,499",0.492,0.519,0.452,..
179,Arab States,NaN,0.699,67.5,70.3,65.5,"6,716",0.708,0.687,0.702,..
180,East Asia and the Pacific,NaN,0.771,71.7,90.7,69.4,"6,604",0.779,0.836,0.699,..
181,Latin America and the Caribbean,NaN,0.803,72.8,90.3,81.2,"8,417",0.797,0.873,0.740,..
182,South Asia,NaN,0.611,63.8,59.5,60.3,"3,416",0.646,0.598,0.589,..
183,Sub-Saharan Africa,NaN,0.493,49.6,60.3,50.4,"1,998",0.410,0.570,0.500,..
184,Central and Eastern Europe and the CIS,NaN,0.808,68.6,99.0,83.5,"9,527",0.726,0.938,0.761,..
185,OECD,NaN,0.916,78.3,..,88.6,"29,197",0.888,0.912,0.947,..
186,High-income OECD,NaN,0.947,79.4,..,93.5,"33,831",0.906,0.961,0.972,..
187,High human development,NaN,0.897,76.2,..,88.4,"23,986",0.854,0.922,0.915,..
188,Medium human development,NaN,0.698,67.5,78.0,65.3,"4,876",0.709,0.738,0.649,..
189,Low human development,NaN,0.436,48.5,54.4,45.5,"1,112",0.391,0.515,0.402,..
190,High income,NaN,0.936,79.2,..,92.3,"33,082",0.903,0.937,0.968,..
191,Middle income,NaN,0.776,70.9,89.9,73.3,"7,416",0.764,0.843,0.719,..
192,Low income,NaN,0.570,60.0,60.2,56.3,"2,531",0.583,0.589,0.539,..
193,World,NaN,0.743,68.1,78.6,67.8,"9,543",0.718,0.750,0.761,..

In [11]:
columns=list(metadata1.columns)
columns[0]="Labels"
metadata1.columns=columns
metadata1

,Labels,country,Human development index (HDI) value 2005,Life expectancy at birth (years) 2005,Adult literacy rate (% aged 15 and above) 1995-2005,"Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005",GDP per capita (PPP US$) 2005,Life expectancy index,Education index,GDP index,GDP per capita (PPP US$) rank minus HDI rank
177,Developing countries,NaN,0.691,66.1,76.6,64.1,"5,282",0.685,0.725,0.662,..
178,Least developed countries,NaN,0.488,54.5,53.9,47.8,"1,499",0.492,0.519,0.452,..
179,Arab States,NaN,0.699,67.5,70.3,65.5,"6,716",0.708,0.687,0.702,..
180,East Asia and the Pacific,NaN,0.771,71.7,90.7,69.4,"6,604",0.779,0.836,0.699,..
181,Latin America and the Caribbean,NaN,0.803,72.8,90.3,81.2,"8,417",0.797,0.873,0.740,..
182,South Asia,NaN,0.611,63.8,59.5,60.3,"3,416",0.646,0.598,0.589,..
183,Sub-Saharan Africa,NaN,0.493,49.6,60.3,50.4,"1,998",0.410,0.570,0.500,..
184,Central and Eastern Europe and the CIS,NaN,0.808,68.6,99.0,83.5,"9,527",0.726,0.938,0.761,..
185,OECD,NaN,0.916,78.3,..,88.6,"29,197",0.888,0.912,0.947,..
186,High-income OECD,NaN,0.947,79.4,..,93.5,"33,831",0.906,0.961,0.972,..
187,High human development,NaN,0.897,76.2,..,88.4,"23,986",0.854,0.922,0.915,..
188,Medium human development,NaN,0.698,67.5,78.0,65.3,"4,876",0.709,0.738,0.649,..
189,Low human development,NaN,0.436,48.5,54.4,45.5,"1,112",0.391,0.515,0.402,..
190,High income,NaN,0.936,79.2,..,92.3,"33,082",0.903,0.937,0.968,..
191,Middle income,NaN,0.776,70.9,89.9,73.3,"7,416",0.764,0.843,0.719,..
192,Low income,NaN,0.570,60.0,60.2,56.3,"2,531",0.583,0.589,0.539,..
193,World,NaN,0.743,68.1,78.6,67.8,"9,543",0.718,0.750,0.761,..

# Metadata - Countries

In [12]:
metadata2=df.iat[195,0]
metadata2=metadata2.split("\n")
metadata2=metadata2[3:-1]
metadata2

['d. For purposes of calculating the HDI, a value of 99.0% was applied.',
 'e. National or UNESCO Institute for Statistics estimate.',
 'f. For purposes of calculating the HDI, a value of 40,000 (PPP US$) was applied.',
 'g. For purposes of calculating the HDI, a value of 100% was applied.',
 'h. Data refer to a year other than that specified.',
 'i. Statec 2006. Data refer to nationals enrolled both in the country and abroad and thus differ from the standard definition.',
 'j. In the absence of recent data, estimates from UNESCO Institute for Statistics 2003, based on outdated census or survey information, were used and should be interpreted with caution: Bahamas 95.8, Barbados 99.7, Comoros 56.8, Djibouti 70.3, Eritrea 60.5, Fiji 94.4, Gambia 42.5, Guinea-Bissau 44.8, Guyana 99.0, Haiti 54.8, Hong Kong, China (SAR) 94.6, Hungary 99.4, Lebanon 88.3, Poland 99.8 and Uzbekistan 99.4. ',
 'k. Data are from national sources.',
 'l. UNESCO Institute for Statistics estimates based on its Global Age-specific Literacy Projections model, April 2007.',
 'm. Heston, Summers and Aten 2006. Data differ from the standard definition.',
 'n. World Bank estimate based on regression.',
 'o. Efforts to produce a more accurate estimate are ongoing (see Readers guide and notes to tables for details). A preliminary estimate of 6,000 (PPP US$) was used.',
 'p. Data are from the Secretariat of the Organization of Eastern Caribbean States, based on national sources.',
 'q. Data are from the Secretariat of the Caribbean Community, based on national sources.',
 'r. Because the combined gross enrolment ratio was unavailable, the following HDRO estimates were used: Antigua and Barbuda 76, Bhutan 52, Ecuador 75, Haiti 53 and Turkmenistan 73.',
 's. UNDP 2007.',
 't. World Bank 2006.',
 'u. World Bank estimate based on a bilateral comparison between China and the United States (Ruoen and Kai 1995).',
 'v. UNICEF 2004.',
 'w. Data refer to 18 of the 25 states of the country only.',
 'x. In the absence of an estimate of GDP per capita (PPP US$), the HDRO estimate of 2,056 (PPP US$) was used, derived from the value of GDP in US$ and the weighted average ratio of PPP US$ to US$ in the Arab States.',
 'y. Heston, Summers and Aten 2001. Data differ from the standard definition.',
 'z. In the absence of an estimate of GDP per capita (PPP US$), the HDRO estimate of 3,413 (PPP US$) was used, derived from the value of GDP per capita in PPP US$ estimated by Heston, Summers and Aten 2006 adjusted to reflect the latest population estimates from UN 2007e.',
 'aa. Data refer to North Sudan only.',
 'ab. UNDP 2006.']

# Metadata-Indicators

In [13]:
metadata3=df.iat[195,0]
metadata3=metadata3.split("\n")
metadata3=metadata3[:3]
metadata3

['a. The HDI rank is determined using HDI values to the sixth decimal point. ',
 'b. Data refer to national literacy estimates from censuses or surveys conducted between 1995 and 2005, unless otherwise specified. Due to differences in methodology and timeliness of underlying data, comparisons across countries and over time should be made with caution.  For more details, see http://www.uis.unesco.org/.',
 'c. A positive figure indicates that the HDI rank is higher than the GDP per capita (PPP US$) rank, a negative the opposite.']

# Metadata-Sources

In [14]:
metadata4=df.iat[196,0]
metadata4=metadata4.split("\n")[1:]
metadata4

['Column 1: calculated on the basis of data in columns 6-8; see Technical note 1 for details.',
 'Column 2: UN 2007e, unless otherwise specified.',
 'Column 3: UNESCO Institute for Statistics 2007a, unless otherwise specified.',
 'Column 4: UNESCO Institute for Statistics 2007c, unless otherwise specified.',
 'Column 5: World Bank 2007b, unless otherwise specified; aggregates calculated for the HDRO by the World Bank.',
 'Column 6: calculated on the basis of data in column 2.',
 'Column 7: calculated on the basis of data in columns 3 and 4.',
 'Column 8: calculated on the basis of data in column 5.',
 'Column 9: calculated on the basis of data in columns 1 and 5.',
 '']